<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>

            <% if(typeof username == 'string' && username && role == "Doctor") { %>
                <a href="/vma/add" class="btn btn-primary" role="button">
                    <i class="fas fa-plus-circle"></i> add Record</a>
            <% } %>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <tr class="d-flex">
                    <% if(typeof username == 'string' && username && role == "Doctor") { %>
                        <th class="text-center col-2">Name</th>
                        <th class="text-center col-1">DOB</th>
                        <th class="text-center col-7">Record</th>

                        <th class="text-center col-1"></th>
                        <th class="text-center col-1"></th>
                    <% } else{ %>
                        <th class="text-center col-2">Name</th>
                        <th class="text-center col-1">DOB</th>
                        <th class="text-center col-9">Record</th>
                    <% } %>
                </tr>


                <% for(let count = 0; count < VmaList.length; count++) { %>
                    <tr class="d-flex">
                        <% if(typeof username == 'string' && username && role == "Doctor") { %>
                            <td class="text-center col-2"><%= VmaList[count].Name %></td>
                            <td class="text-center col-1"><%= VmaList[count].DOB %></td>
                            <td class="text-center col-7"><%= VmaList[count].Record %></td>

                            <td class="text-center col-1">
                                <a href="/coffee-list/edit/<%= VmaList[count]._id %>" class="btn btn-primary">
                                <i class="fas fa-pencil-alt"></i> Edit</a>

                            </td>
                            <td class="text-center col-1">
                                <a href="/coffee-list/delete/<%= VmaList[count]._id %>" class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                        <% } else {%>
                            <td class="text-center col-2"><%= VmaList[count].Name %></td>
                            <td class="text-center col-1"><%= VmaList[count].DOB %></td>
                            <td class="text-center col-9"><%= VmaList[count].Record %></td>
                            <% } %>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  




